$primaryCol: #f06543;
$secondaryCol: #313638;
$secondaryColDark: #1d2022;
$secondaryColDark2: #222627;
$secondaryColLight: #464a4c;
$secondaryColLight2: #5a5e60;
$thirdCol: #f09d51;

$primaryWhite: #e8e9eb;
$secondaryWhite: #e0dfd5;

$buttonBroderRadius: 1rem;
$SwapBoxBroderRadius: 2.2rem;

$boxShadowSwap: 0rem 1rem 1rem rgba(0, 0, 0, 0.2),
  1rem 0rem 1rem rgba(0, 0, 0, 0.1), -1rem 0rem 1rem rgba(0, 0, 0, 0.1);

$fontSize1: 1.2rem;
$fontSizeHeading: 1.4rem;
